<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="github" value="https://nuget.pkg.github.com/SpilledMilkCOM/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="PublicToken" />
            <add key="ClearTextPassword" value="BAD_TOKEN" />
        </github>
    </packageSourceCredentials>    
</configuration>
